<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Tools linh tinh</title>
    <script>
      var result;
      function doChange() {
        var v1 = document.getElementById("v1").value.trim();
        var v2 = document.getElementById("v2").value.trim();
        var v3 = document.getElementById("v3").value.trim();
        var v4 = document.getElementById("v4").value.trim();
        var v5 = document.getElementById("v5").value.trim();
        var isStay = document.getElementById("isStay").checked;
        if (isStay) {
          document.getElementById("r1").value =
            v1 + " " + v2 + " " + v3 + " " + v4 + " " + v5;
          document.getElementById("r2").value =
            v1 + " " + v2 + " " + v4 + " " + v3 + " " + v5;
          document.getElementById("r3").value =
            v1 + " " + v2 + " " + v4 + " " + v5 + " " + v3;
          document.getElementById("r4").value =
            v1 + " " + v2 + " " + v3 + " " + v5 + " " + v4;
          document.getElementById("r5").value =
            v1 + " " + v2 + " " + v5 + " " + v3 + " " + v4;
          document.getElementById("r6").value =
            v1 + " " + v2 + " " + v5 + " " + v4 + " " + v3;
          document.getElementById("r7").value =
            v1 + " " + v3 + " " + v2 + " " + v4 + " " + v5;
          document.getElementById("r8").value =
            v1 + " " + v3 + " " + v2 + " " + v5 + " " + v4;
          document.getElementById("r9").value =
            v1 + " " + v3 + " " + v4 + " " + v5 + " " + v2;
          document.getElementById("r10").value =
            v1 + " " + v3 + " " + v4 + " " + v2 + " " + v5;
          document.getElementById("r11").value =
            v1 + " " + v3 + " " + v5 + " " + v2 + " " + v4;
          document.getElementById("r12").value =
            v1 + " " + v3 + " " + v5 + " " + v4 + " " + v2;
          document.getElementById("r13").value =
            v1 + " " + v5 + " " + v2 + " " + v3 + " " + v4;
          document.getElementById("r14").value =
            v1 + " " + v5 + " " + v2 + " " + v4 + " " + v3;
          document.getElementById("r15").value =
            v1 + " " + v5 + " " + v3 + " " + v2 + " " + v4;
          document.getElementById("r16").value =
            v1 + " " + v5 + " " + v3 + " " + v4 + " " + v2;
          document.getElementById("r17").value =
            v1 + " " + v5 + " " + v4 + " " + v2 + " " + v3;
          document.getElementById("r18").value =
            v1 + " " + v5 + " " + v4 + " " + v3 + " " + v2;
          document.getElementById("r19").value =
            v1 + " " + v4 + " " + v2 + " " + v3 + " " + v5;
          document.getElementById("r20").value =
            v1 + " " + v4 + " " + v2 + " " + v5 + " " + v3;
          document.getElementById("r21").value =
            v1 + " " + v4 + " " + v3 + " " + v2 + " " + v5;
          document.getElementById("r22").value =
            v1 + " " + v4 + " " + v3 + " " + v5 + " " + v2;
          document.getElementById("r23").value =
            v1 + " " + v4 + " " + v5 + " " + v2 + " " + v3;
          document.getElementById("r24").value =
            v1 + " " + v4 + " " + v5 + " " + v3 + " " + v2;
        }
      }
    </script>
</head>
<body>
<div layout:fragment="content">
	<div>
      Mời bạn nhập từ khóa
      <hr />
      1.<input required id="v1" type="text" /> <br />
      2.<input required id="v2" type="text" /> <br />
      3.<input required id="v3" type="text" /> <br />
      4.<input required id="v4" type="text" /> <br />
      5.<input required id="v5" type="text" /> <br />
      <br />
      <label>Giữ nguyên chữ đầu tiên không?</label
      ><input type="checkbox" id="isStay" name="isStay" value="yes" />
      <br />
      <button id="btn-1" onclick="doChange()">Xác nhận</button>
      <br />
      <br />
      <br />
    </div>

    <h3>Kết quả</h3>
    <p id="result" class="contrainer">
    <div class="input-group mb-3">
	      <label for=""> </label> <input type="text" id="r1" /> <br />
	      <label for=""> </label><input type="text" id="r2" /> <br />
	      <label for=""></label> <input type="text" id="r3" /> <br />
	      <label for=""></label> <input type="text" id="r4" /> <br />
	      <label for=""></label> <input type="text" id="r5" /> <br />
	      <label for=""></label> <input type="text" id="r6" /> <br />
	      <label for=""></label> <input type="text" id="r7" /> <br />
	      <label for=""></label> <input type="text" id="r8" /> <br />
	      <label for=""></label> <input type="text" id="r9" /> <br />
	      <label for=""></label> <input type="text" id="r10" /> <br />
	      <label for=""></label> <input type="text" id="r11" /> <br />
	      <label for=""></label> <input type="text" id="r12" /> <br />
	      <label for=""></label> <input type="text" id="r13" /> <br />
	      <label for=""></label> <input type="text" id="r14" /> <br />
	      <label for=""></label> <input type="text" id="r15" /> <br />
	      <label for=""></label> <input type="text" id="r16" /> <br />
	      <label for=""></label> <input type="text" id="r17" /> <br />
	      <label for=""></label> <input type="text" id="r18" /> <br />
	      <label for=""></label> <input type="text" id="r19" /> <br />
	      <label for=""></label> <input type="text" id="r20" /> <br />
	      <label for=""></label> <input type="text" id="r21" /> <br />
	      <label for=""></label> <input type="text" id="r22" /> <br />
	      <label for=""></label> <input type="text" id="r23" /> <br />
	      <label for=""></label> <input type="text" id="r24" /> <br />
    </div>
     
    </p>
</div>
</body>
</html>